
@model Department

<!-- /Department/SaveAdd?name="ahmed", ManagerName="ahmedmohsen"
    when you press on it it open page the page has this action , to view form you use get
-->
<form method="post" action="/Department/SaveAdd">

    <div>
        <label>Name</label>
        <input name="Name" id="Name" value="@Model?.Name"type="text" class="form form-control"/>

    </div>
    <div>
        <label>ManagerName</label>
        <input name="ManagerName" id="ManagerName" value ="@Model?.ManagerName" type="text" class="form form-control" />

    </div>
    <input type="submit" value="Create" class="btn btn-primary"/>


</form>

<a href="/Department/Index">Back to List</a>